.dynamic-body {
    background-color: white;
    margin:2px 0px;
    float: left;
    border-radius: 5px;width: 700px;
}
.head-image-div {
    /*width: 50px;height: 50px;*/
    margin: 10px 0px 0px 10px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}
.user-name-div {
    float: left;
}
.user-name {
    font-size: 15px;
    margin:20px 0px 0px 15px;
}
.dynamic-time {
    font-size: 12px; border-radius: 5px; margin: 10px 0px 0px 15px;color: gray
}
.dynamic-content-div {
    margin: 10px 20px 10px 80px;
    float: left;
}
.dynamic-content {
    width: 550px;font-size: 14px;
}
.dynamic-div {
    margin: 5px 0px;
}
.dynamic-div-img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius:5px;
    margin: 2px;
}
.like-div {
    margin: 20px 0px;
}